<?xml version="1.0"?>

<config>
	<modules>
		<Smart_Customflatrate>
			<version>0.0.1</version>
		</Smart_Customflatrate>
	</modules>
	<adminhtml>
            <layout>
                <updates>
                    <customflatrate>
                        <file>customflatrate.xml</file>
                    </customflatrate>
                </updates>
            </layout>
        </adminhtml>
        <admin>
            <routers>
                <customflatrateadmin>
                    <use>admin</use>
                    <args>
                        <module>Smart_Customflatrate</module>
                        <frontName>customflatrateadmin</frontName>
                    </args>
                </customflatrateadmin>
            </routers>
        </admin>
	<global>
		<helpers>
			<customflatrate>
				<class>Smart_Customflatrate_Helper</class>
			</customflatrate>
                </helpers>
		<models>
			<customflatrate>
				<class>Smart_Customflatrate_Model</class>
                                <resourceModel>customflatrate_mysql4</resourceModel>
			</customflatrate> 
                        <core>
                            <rewrite>
                                 <config>Smart_Customflatrate_Model_Core_Config</config>
                            </rewrite> 
                        </core>    
                        <shipping>
                            <rewrite>
                                 <config>Smart_Customflatrate_Model_Shipping_Config</config>
                            </rewrite> 
                        </shipping>
                        <shipping>
                            <rewrite>
                                 <shipping>Smart_Customflatrate_Model_Shipping_Shipping</shipping>
                            </rewrite> 
                        </shipping>
                        <customflatrate_mysql4>
                            <class>Smart_Customflatrate_Model_Mysql4</class>
                            <entities>
                                <customflatrate>
                                    <table>smart_customflatrate</table>
                                </customflatrate>
                            </entities>
                        </customflatrate_mysql4>              
		</models>
                <resources>
                    <customflatrate_setup>
                            <setup>
                                    <module>Smart_Customflatrate</module>
                                    <class>Mage_Eav_Model_Entity_Setup</class>
                            </setup>
                            <connection>
                                    <use>core_setup</use>
                            </connection>
                    </customflatrate_setup>
                    <customflatrate_write>
                            <connection>
                                    <use>core_write</use>
                            </connection>
                    </customflatrate_write>
                    <customflatrate_read>
                            <connection>
                                    <use>core_read</use>
                            </connection>
                    </customflatrate_read>
                </resources>
<!--                <events>
                    <core_config_test>
                            <observers>
                                    <smart_customflatrate>
                                            <type>model</type>
                                            <class>Smart_Customflatrate_Model_Core_Observer</class>
                                            <method>test</method>
                                    </smart_customflatrate>
                            </observers>
                    </core_config_test>
                </events>-->
		<blocks>
			<customflatrate>
				<class>Smart_Customflatrate_Block</class>
			</customflatrate>
			<checkout>
				<rewrite>
					<onepage_shipping_method_available>Smart_Customflatrate_Block_Available</onepage_shipping_method_available>
				</rewrite>
			</checkout>
		</blocks>
	</global>	
	<frontend>
		<layout>
			<updates>
				<smart_customflatrate>
					<file>smart_customflatrate.xml</file>
				</smart_customflatrate>
			</updates>
		</layout>
	</frontend>
        <default><carriers/></default>
</config>